[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"

[dev-packages]
pytest = "*"
mypy = "*"
black = "*"
ruff = "*"
sphinx = "*"
faker = "*"
pytest-qt = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
